
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h2>@ViewBag.Message</h2>

</head>
<body>
    <div>
        <svg width="50" height="50">
            2
            <circle cx="25" cy="25" r="25" fill="purple" />
            3
        </svg>
    </div>
</body>
</html>
